@charset "utf-8";

/* 헤더, 푸터 공통서식 common.css */
header{
    background: #4b4b4b;
    position: relative;
}

footer{
    background: #1c1c1c;
    position: relative;
    color: #fff;
}

/* 체크박스 숨기기 */
#toggle{display: none;}


/* 버튼 공통 서식 */
.button{
    font-size: 1rem;
    background: #fff;
    padding: 6px 30px;
    border: 1px solid#ccc;
    transition: 0.5s;
}
.button:hover{
    background: #4b4b4b;
    color: #fff;
}

.align_c{
    text-align: center;
}